.heading {
  padding: 8px;
  padding-left: 14px;
  padding-right: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text-muted);
  height: 48px;
}

.side {
  display: flex;
  flex-direction: row;
  gap: 4px;
  color: var(--color-text-muted)
}
